 <div class="navbar-fixed">
    <nav class="nav-wrapper">
        <a href="#" class="brand-logo center">Roadie</a>
        <a href="#" class="sidenav-trigger" data-target="slide-out">
            <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">
            <li><a data-target="modal3" class="modal-trigger help">Help</a></li>
            <li><a href="/">Home</a></li>
            <li><a data-target="modal2" class="modal-trigger place7">Places</a></li>
            <li><a data-target="modal1" class="modal-trigger create">Create</a></li>
            <!-- <li><a href="/bucket.html">Bucket</a></li> -->

        </ul>

    </nav>
</div>

<ul id="slide-out" class="sidenav collapsible button-collapse">
    <li><a data-target="modal3" class="modal-trigger help">Help</a></li>
    <li><a href="/">Home</a></li>
    <li><a data-target="modal2" class="modal-trigger place7">Places</a></li>
    <li><a data-target="modal1" class="modal-trigger create">Create</a></li>
    <!-- <li><a href="/">Bucket</a></li> -->

</ul>