 <div id="modal1" class="modal">
    <div class="modal-content">
        <form>
            <label for="place">Destination</label>
            <input type="text" id="place" />
            <label for="theme">Theme </label>
            <input type="text" id="theme" />
            <label for="arrive">Arrive</label>
            <!-- <input type="text" id="arrive" /> -->
            <input type="text" id="arrive" class="datepicker">
            <label for="depart">Depart</label>
            <!-- <input type="text" id="depart" /> -->
            <input type="text" id="depart" class="datepicker">
            <input type="submit" class="modal-close" id="submit" />
        </form>
    </div>
</div>

<!-- Modal Structure 2-->

<div id="modal2" class="modal">
    <div class="modal-content">
        <table id="themeplace" style="border: solid 1% black">

            <tr>
                <th>Select a Destination-Theme</th>

            </tr>


        </table>

    </div>
</div>

<!-- Modal Structure 3 -->

<div id="modal3" class="modal">
    <div class="modal-content">
        <p> <button> Places </button> - see a list of past destinations </p>
        <p> <button> Create </button> - create a new destination </p>
        <p> <button> Save / Schedule </button> - save / schedule bucketlist
            activites</p>
        <p> <button> More </button> - this will load more to dos </p>
        <hr>
        <p> Drag activities from the <span class="highlight">TO DO </span>panel
            to the <span class="highlight">BUCKET LIST</span> </p>
        <p> Click <button> Save / Schedule </button> when you'd like to schedule
            the bucketlist events </p>
    </div>
</div>
