 <div class="row">
    <button class="col s3 offset-s9" id="schedule">Save / Schedule</button>
    <button class="col s3 offset-s6" id="save" style="display:none">save
        calendar </button>
</div>
<!-- buttons end-->