<div class="row">
    <!-- to do  -->
    <div class="col s12" id="toDo">
        <div class="card blue-grey darken-1">
            <!-- <div class="card-content white-text"> -->
            <span class="card-title white-text">To Do</span>
            <!-- </div> -->
            <div class="card-action">
                <a class="type" value="Sacred">Sacred</a>
                <a class="type" value="Amusements">Amusements</a>
                <a class="type" value="Collections">Collections</a>
                <a class="type" value="Nourishment">Nourishment</a>
            </div>
            <div id="toDo2">
                <div>
                    <ul ondrop="drop(event, this)" ondragover="allowDrop(event)"
                        class="card-content white-text" id="places"></ul>
                </div>
            </div>
            <button id="more">more</button>
        </div>
    </div>
</div>
<!-- daily begins -->
<!-- daily -->
<div id="daily">

</div>

<footer></footer>